body, h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-left: 10;
  }

  h1 {
    font-size: 60px;

  }
  .box{
    position: relative;
  padding-left: 30;
  padding-top: 30;
  }
  .hang {
    position: absolute;
    right: 60px;
    width: 300px;
    padding: 10px;
  }
  p{
    font-size: 18
  }
